# Data exploration
# CPS2020

In [1]:
# Packages
import pandas as pd

In [2]:
# Read dataset
path = './datasets/CPS2020/'
csvfile = 'dec20pub.csv'
df = pd.read_csv(path + csvfile)

In [3]:
df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,FILLER,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,110000670904241,12,2020,1,201,NaN,2,1,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
1,110024067491,12,2020,1,201,NaN,2,1,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

**We want to select only data for Mississipi**. According to page 6-9 in **cpsdec20.pdf**, we can use the Federal Iinformation Processing Standards (FIPS) state code to accomplish this task. We use the `GESTFIPS` column and look for the number `28`, which corresponds to MS (Mississipi).

In [4]:
ms = 28
df_ms = df.loc[df.GESTFIPS == ms]
df_ms

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,FILLER,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
2981,508206234810993,12,2020,1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2982,351381003420755,12,2020,1,201,NaN,2,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2983,621083005920385,12,2020,1,201,NaN,1,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2984,621083005920385,12,2020,1,201,NaN,1,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2985,132892080003655,12,2020,-1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131675,68008252202411,12,2020,1,216,NaN,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131676,271685000920615,12,2020,-1,216,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131677,302208421810648,12,2020,1,216,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131678,20810178955201,12,2020,-1,213,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131679,371785005120911,12,2020,1,218,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [6]:
# Save dataframe to a new CSV file containing only data for Mississipi
df_ms.to_csv('./datasets/Mississipi/CPS_2020Data_MS.csv')