# Data exploration
# CPS2020

In [2]:
# Packages
import pandas as pd

In [14]:
# Read dataset
path = '../../datasets/CPS/'
csvfile = 'dec20pub.csv'
df = pd.read_csv(path + csvfile)

In [15]:
df.head()

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,FILLER,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
0,110000670904241,12,2020,1,201,NaN,2,1,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
1,110024067491,12,2020,1,201,NaN,2,1,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
3,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
4,610905110108708,12,2020,1,201,NaN,1,1,1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

**We want to select only data for Mississipi**. According to page 6-9 in **cpsdec20.pdf**, we can use the Federal Iinformation Processing Standards (FIPS) state code to accomplish this task. We use the `GESTFIPS` column and look for the number `28`, which corresponds to MS (Mississipi).

In [16]:
ms = 28
df_ms = df.loc[df.GESTFIPS == ms]
df_ms

,HRHHID,HRMONTH,HRYEAR4,HURESPLI,HUFINAL,FILLER,HETENURE,HEHOUSUT,HETELHHD,HETELAVL,...,HRFS30D1,HRFS30D2,HRFS30D3,HRFS30D4,HRFS30D5,HRFS30D6,HRFS30D7,HRFS30D8,HRFS30D9,HRFS30DE
2981,508206234810993,12,2020,1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
2982,351381003420755,12,2020,1,201,NaN,2,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2983,621083005920385,12,2020,1,201,NaN,1,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2984,621083005920385,12,2020,1,201,NaN,1,5,1,-1,...,1,1,0,-6,-1,-1,-1,1,0,-6
2985,132892080003655,12,2020,-1,226,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
131675,68008252202411,12,2020,1,216,NaN,1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131676,271685000920615,12,2020,-1,216,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131677,302208421810648,12,2020,1,216,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131678,20810178955201,12,2020,-1,213,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1
131679,371785005120911,12,2020,1,218,NaN,-1,1,-1,-1,...,-1,-1,-1,-1,-1,-1,-1,-1,-1,-1

In [65]:
# All_keys = ['HRYEAR4','GTCO','GTCBSASZ','GTCSA',
#         'HEFAMINC','HRHTYPE','PTDTRACE','PREMPNOT','PRCHLD','HETS2O','HETS6O','HES8B',
#         'HETS8CO','HETS8DO','HES9','HESP1','HESP21','HETSP3O','HESP6','HESP7','HESP7A',
#         'HESP8','HETSP9','HESS1','HESS2','HESS3','HESS4','HESH2','HESHF2','HESHM2','HESS5',
#         'HESS6','HESH1','HESSH2']

keys = ['HEFAMINC','HRHTYPE','PTDTRACE','PREMPNOT','PRCHLD',
        'HETS2O','HETS6O','HETS8CO','HETSP3O','HESP1']

In [66]:
df_ms = df_ms[df_ms.columns.intersection(keys)]
df_ms

,HEFAMINC,HRHTYPE,PTDTRACE,PREMPNOT,PRCHLD,HETS2O,HETS6O,HETS8CO,HESP1,HETSP3O
2981,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
2982,8,7,2,1,0,50,10,-1,2,-1
2983,5,1,2,4,0,90,30,-1,2,-1
2984,5,1,2,4,0,90,30,-1,2,-1
2985,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
...,...,...,...,...,...,...,...,...,...,...
131675,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
131676,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
131677,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
131678,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
131679,-1,0,-1,-1,-1,-1,-1,-1,-1,-1

In [67]:
# Save dataframe to a new CSV file containing only data for Mississipi
df_ms.to_csv('../../datasets/Mississipi/CPS_2020Data_MS.csv')

# 2019

In [70]:
csvfile = 'dec19pub.csv'
df = pd.read_csv(path + csvfile)
ms = 28
df_ms = df.loc[df.GCFIP == ms]
df_ms = df_ms[df_ms.columns.intersection(keys)]
# Save dataframe to a new CSV file containing only data for Mississipi
df_ms.to_csv('../../datasets/Mississipi/CPS_2019Data_MS.csv')

In [71]:
df_ms

,HEFAMINC,HRHTYPE,PTDTRACE,PREMPNOT,PRCHLD,HETS2O,HETS6O,HETS8CO,HESP1,HETSP3O
2292,8,1,1,1,4,-1,-1,-1,-1,-1
2293,8,1,1,4,4,-1,-1,-1,-1,-1
2294,8,1,1,4,0,-1,-1,-1,-1,-1
2295,8,1,1,-1,0,-1,-1,-1,-1,-1
2296,10,7,1,4,0,-1,30,20,-1,-1
...,...,...,...,...,...,...,...,...,...,...
138561,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
138562,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
138563,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
138564,-1,0,-1,-1,-1,-1,-1,-1,-1,-1
138565,-1,0,-1,-1,-1,-1,-1,-1,-1,-1